PUERTO_ESCUCHA=7002
IP_SINDICATO=127.0.0.1
PUERTO_SINDICATO=5003
IP_APP=127.0.0.1
PUERTO_APP=5004
QUANTUM=10
LOG_FILE_PATH=/home/utnso/workspace/tp-2020-2c-Los-Recursa2/restaurante/Logs/GreenLife.log
ALGORITMO_PLANIFICACION=FIFO
NOMBRE_RESTAURANTE=GreenLife
RETARDO_CICLO_CPU=4
APP_ENPRUEBAS=SI
IP_LOCAL=127.0.0.1
